<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'http://www.it-univer43.ru/itu-logotype.svg', width: 89, height: 25, alt: 'IT Univer Logo'}"
  [navbarBrandMinimized]="{src: 'http://www.it-univer43.ru/itu-logotype.svg', width: 30, height: 30, alt: 'IT Univer Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false"
>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" routerLink="/dashboard">Профиль</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" routerLink="/courses/catalog">Мои курсы</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" routerLink="/settings/profile">Настройки</a>
    </li>
  </ul>
  <div class="ml-auto">
    <a style="cursor: pointer; padding-right: 10px;" (click)="logout()"><i class="fa fa-lock"></i> Выход</a>
  </div>
  <!--<ul class="nav navbar-nav ml-auto">-->
    <!--<li class="nav-item dropdown" dropdown placement="bottom right">-->
      <!--<a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">-->
        <!--<div class="imgtop">-->
        <!--<img [src]="avatar" />-->
        <!--</div>-->
      <!--</a>-->
      <!--<div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">-->
        <!--<a class="dropdown-item" routerLink="/dashboard"><i class="fa fa-user"></i> Профиль</a>-->
        <!--<div class="divider"></div>-->
        <!--<a class="dropdown-item" style="cursor: pointer" (click)="logout()"><i class="fa fa-lock"></i> Выход</a>-->
      <!--</div>-->
    <!--</li>-->
  <!--</ul>-->
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
      <!-- Breadcrumb Menu-->

    </ol>
    <div class="container-fluid">
      <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Loading...</p>
      </ngx-spinner>

      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>

</div>
<app-footer>
  <span><a href="https://ituniver-43.ru">IT Univer</a> &copy; 2018 Вятский Государственный Университет.</span>
</app-footer>
<ng2-toasty [position]="'bottom-right'"></ng2-toasty>
