<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Настройки профиля
    </div>
    <div *ngIf="data.user == null" class="card-body">
      Загрузка...
    </div>
    <div *ngIf="data.user !== null" class="card-body">
      <div style="padding-bottom: 10px;">
        <label>Логотип:</label>
        <div>
          <div class="img__overlay-new initially-show">
            <label>
              <input type="file" (change)="fileChange($event)" style="display: none;" accept=".png,.jpg,.jpeg" #ava>
              <button class="btn btn-primary" (click)="ava.click()">Обновить</button>
            </label>
          </div>
          <img height="150px" [src]="avatar" />
        </div>
      </div>
      <div style="padding-bottom: 10px;">
        <label>Логотип для сертификата (в хорошем качестве):</label>
        <div>
          <div class="img__overlay-new initially-show">
            <label>
              <input type="file" (change)="fileHorChange($event)" style="display: none;" accept=".png,.jpg,.jpeg" #avahor>
              <button class="btn btn-primary" (click)="avahor.click()">Обновить</button>
            </label>
          </div>
          <img height="150px" [src]="avatar_hor" />
        </div>
      </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="namep" class="form-control" id="exampleFormControlInputf" placeholder="Название">
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="emailp" class="form-control" id="exampleFormControlInputi" placeholder="E-mail">
        </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">+7</span>
        </div>
        <input type="text" [(ngModel)]="phonep" mask="0000000000" class="form-control" placeholder="Телефон" name="phone" required>
      </div>
      <div class="input-group" style="margin-top: 15px; margin-bottom: 15px;">
        <div class="input-group-prepend">
          <span class="input-group-text">Город</span>
        </div>
        <select class="form-control" name="city" [(ngModel)]="city_id">
          <option  *ngFor="let city of data.cities" [value]="city.id" selected="selected">
            {{city.name}}
          </option>
        </select>
      </div>
      <div *ngIf="!allCorrect"
           class="alert alert-danger">

        <div *ngIf="!isNameCorrect">
          Имя введено неверно!
        </div>
        <div *ngIf="!isEmailValid">
          E-mail введен неверно!
        </div>
        <div *ngIf="!isPhoneCorrect">
          Телефон введен неверно!
        </div>
        <div *ngIf="!isCityCorrect">
          Университет не выбран!
        </div>
      </div>
        <button class="btn btn-primary" (click)="update()">Сохранить</button>
    </div>
  </div>

</div>
