<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Настройки безопасности
    </div>
    <div class="card-body">
        <div class="form-group">
          <label>Старый пароль</label>
          <input type="password" class="form-control" [(ngModel)]="passwordOld">
        </div>
        <div class="form-group">
          <label>Новый пароль</label>
          <input type="password" class="form-control" [(ngModel)]="password">
        </div>
        <div class="form-group">
          <label>Повторите новый пароль</label>
          <input type="password" class="form-control" [(ngModel)]="passwordRepeat">
        </div>
        <button class="btn btn-primary" (click)="savePassword()">Сохранить</button>

    </div>
  </div>

</div>
