<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Список слушателей
    </div>
    <div class="card-body">
      <div *ngIf="listeners == null">
        Загрузка...
      </div>
      <ul *ngIf="listeners !== null" class="list-group">
        <li *ngFor="let listener of listeners.data.listeners" class="list-group-item">
          <div class="row">
            <div class="col-md-1">
              <div style="display: inline-block; vertical-align:top;">
                <div class="imgmain">
                  <img [src]="'http://it-univer43.catkov.beget.tech/uploads/' + listener.listener.avatar" />
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div style="display: inline-block; padding-left: 20px">
                ФИО: {{ listener.listener.last_name}} {{ listener.listener.first_name}} {{ listener.listener.father_name}}<br/>
                Статус: <span *ngIf="listener.status == 1" class='badge badge-danger'>В ожидании подтверждения</span>  <span *ngIf="listener.status == 2" class='badge badge-primary'>Подтвержден</span> <span *ngIf="listener.status == 3" class='badge badge-primary'>Посетил курс</span> <span *ngIf="listener.status == 4" class='badge badge-success'>Получил сертификат</span><br/>
                Обновить статус:
                <select class="form-control" name="city" (change)="updateStatus(listener)" [(ngModel)]="listener.status">
                  <option [value]="1">
                    В ожидании подтверждения
                  </option>
                  <option [value]="2">
                    Подтвержден
                  </option>
                  <option [value]="3">
                    Посетил курс
                  </option>
                  <option [value]="4">
                    Получил сертификат
                  </option>
              </select>
              </div>
            </div>
            <div class="col-md-2">
              <!--<div style="display: inline-block; float: right">-->
                <!--<button class="btn btn-primary" [routerLink]="['/applies', course.id]">Заявки</button>-->
              <!--</div>-->
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>

</div>
