<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Список курсов
    </div>
    <div class="card-body">
      <div *ngIf="courses == null">
        Загрузка...
      </div>
      <ul *ngIf="courses !== null" class="list-group">
        <li *ngFor="let course of courses.data.course_instances" class="list-group-item">
          <div class="row">
            <div class="col-md-1">
              <div style="display: inline-block; vertical-align:top;">
                <div class="imgmain">
                  <img [src]="'http://it-univer43.catkov.beget.tech/uploads/' + course.course.logo" />
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div style="display: inline-block; padding-left: 20px">
                <b> {{ course.course.name }}</b><br/>
                {{ course.course.description }} <br/>
                Лектор: {{ course.course.lecturer_name }} <br/>
                Расписание: <br/> {{ course.schedule }} <br/>
                Дата начала: {{ course.start_date | date: 'dd.MM.yyyy' }} <br/>
                Дата окончания: {{ course.end_date | date: 'dd.MM.yyyy' }} <br/>
                Дата окончания подачи заявок: {{ course.apply_end_date | date: 'dd.MM.yyyy' }} <br/>
              </div>
            </div>
            <div class="col-md-2">
              <div style="display: inline-block; float: right">
                <button class="btn btn-primary" [routerLink]="['/courses/applies', course.id]">Заявки</button>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>

</div>
