<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Список курсов
    </div>
    <div class="card-body">
      <div *ngIf="courses == null">
        Загрузка...
      </div>
      <ul *ngIf="courses !== null" class="list-group">
        <li *ngFor="let course of courses.data.courses" class="list-group-item">
          <div class="row">
            <div class="col-md-1">
            <div style="display: inline-block; vertical-align:top;">
              <div>
                <img [src]="'http://it-univer43.catkov.beget.tech/uploads/' + course.logo" width="100px" />
              </div>
            </div>
            </div>
            <div class="col-md-9">
            <div style="display: inline-block; padding-left: 20px">
              <b> {{ course.name }}</b><br/>
              {{ course.description }} <br/>
              Лектор: {{ course.lecturer_name }} <br/>
              <span class="badge badge-primary">{{ course.university.name }}</span><br/>
              <span *ngIf="course.approved == 0" class='badge badge-danger'>не подтвержден</span>
              <span *ngIf="course.approved == 1" class='badge badge-success'>подтвержден</span>
            </div>
            </div>
            <div class="col-md-2">
            <div style="display: inline-block; float: right">
              <button class="btn btn-primary" [routerLink]="['/courses/edit', course.id]">Редактировать</button>
            </div>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>

</div>
